<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200870713988-dnq6h2u57l57kn4lfjr0vjtg8rk6bo48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200870713988-dnq6h2u57l57kn4lfjr0vjtg8rk6bo48</string>
	<key>API_KEY</key>
	<string>AIzaSyAEAW4cfqbWGBMOjPS7pPyvCr5yhrQroQE</string>
	<key>GCM_SENDER_ID</key>
	<string>200870713988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jdcc.jrClock</string>
	<key>PROJECT_ID</key>
	<string>jrclock-c3a87</string>
	<key>STORAGE_BUCKET</key>
	<string>jrclock-c3a87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200870713988:ios:83c1eb1ec3d313937780d1</string>
</dict>
</plist>